# Classification Exercise

We'll be working with some California Census Data, we'll be trying to use various features of an individual to predict what class of income they belogn in (>50k or <=50k). 

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

## Follow the Directions in Bold. If you get stuck, check out the solutions lecture.

### THE DATA

** Read in the census_data.csv data with pandas**

In [15]:
import pandas as pd

In [16]:
census = pd.read_csv('census_data.csv')

In [22]:
census.head(10)

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

** TensorFlow won't be able to understand strings as labels, you'll need to use pandas .apply() method to apply a custom function that converts them to 0s and 1s. This might be hard if you aren't very familiar with pandas, so feel free to take a peek at the solutions for this part.**

** Convert the Label column to 0s and 1s instead of strings.**

In [18]:
census['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [27]:
import numpy as np
label_vals = census['income_bracket'].unique()
census['income_bracket'] = census.apply(lambda row: np.where(label_vals == row['income_bracket'])[0][0], axis=1)

In [28]:
census.head(10)

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
5,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,0
6,49,Private,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,0
7,52,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,1
8,31,Private,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,1
9,42,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,1

### Perform a Train Test Split on the Data

In [29]:
from sklearn.model_selection import train_test_split

In [32]:
x_data = census.drop('income_bracket', axis=1)
y_labels = census['income_bracket']
X_train, X_test, y_train, y_test = train_test_split(x_data, y_labels, test_size=0.3, random_state=101)

### Create the Feature Columns for tf.esitmator

** Take note of categorical vs continuous values! **

In [33]:
census.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

** Import Tensorflow **

In [50]:
import tensorflow as tf

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **

In [47]:
workclass = tf.feature_column.categorical_column_with_hash_bucket('workclass', 1000)
education = tf.feature_column.categorical_column_with_hash_bucket('education', 1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket('marital_status', 1000)
occupation = tf.feature_column.categorical_column_with_hash_bucket('occupation', 1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket('relationship', 1000)
race = tf.feature_column.categorical_column_with_hash_bucket('race', 1000)
gender = tf.feature_column.categorical_column_with_hash_bucket('gender', 1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket('native_country', 1000)

** Create the continuous feature_columns for the continuous values using numeric_column **

In [49]:
age = tf.feature_column.numeric_column('age')
education_num = tf.feature_column.numeric_column('education_num')
capital_gain = tf.feature_column.numeric_column('capital_gain')
capital_loss = tf.feature_column.numeric_column('capital_loss')
hours_per_week = tf.feature_column.numeric_column('hours_per_week')

** Put all these variables into a single list with the variable name feat_cols **

In [51]:
feat_cols = [age, workclass, education, education_num, marital_status,
             occupation, relationship, race, gender, capital_gain,
             capital_loss, hours_per_week, native_country]

### Create Input Function

** Batch_size is up to you. But do make sure to shuffle!**

In [52]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train, y=y_train, num_epochs=1000, shuffle=True)

#### Create your model with tf.estimator

**Create a LinearClassifier.(If you want to use a DNNClassifier, keep in mind you'll need to create embedded columns out of the cateogrical feature that use strings, check out the previous lecture on this for more info.)**

In [53]:
model = tf.estimator.LinearClassifier(feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /var/folders/xt/qvsnsqc941q950ghsjhyjh3r0000gn/T/tmpy41zwms1
INFO:tensorflow:Using config: {'_tf_random_seed': 1, '_save_summary_steps': 100, '_keep_checkpoint_every_n_hours': 10000, '_keep_checkpoint_max': 5, '_log_step_count_steps': 100, '_save_checkpoints_secs': 600, '_model_dir': '/var/folders/xt/qvsnsqc941q950ghsjhyjh3r0000gn/T/tmpy41zwms1', '_save_checkpoints_steps': None, '_session_config': None}

** Train your model on the data, for at least 5000 steps. **

In [54]:
model.train(input_func, steps=5000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into /var/folders/xt/qvsnsqc941q950ghsjhyjh3r0000gn/T/tmpy41zwms1/model.ckpt.
INFO:tensorflow:step = 1, loss = 88.7229
INFO:tensorflow:global_step/sec: 164.902
INFO:tensorflow:step = 101, loss = 39.6201 (0.608 sec)
INFO:tensorflow:global_step/sec: 181.383
INFO:tensorflow:step = 201, loss = 334.758 (0.551 sec)
INFO:tensorflow:global_step/sec: 178.965
INFO:tensorflow:step = 301, loss = 276.241 (0.559 sec)
INFO:tensorflow:global_step/sec: 181.314
INFO:tensorflow:step = 401, loss = 41.7695 (0.551 sec)
INFO:tensorflow:global_step/sec: 168.318
INFO:tensorflow:step = 501, loss = 980.85 (0.595 sec)
INFO:tensorflow:global_step/sec: 156.99
INFO:tensorflow:step = 601, loss = 194.266 (0.637 sec)
INFO:tensorflow:global_step/sec: 161.889
INFO:tensorflow:step = 701, loss = 63.0382 (0.618 sec)
INFO:tensorflow:global_step/sec: 172.657
INFO:tensorflow:step = 801, loss = 50.1334 (0.579 sec)
INFO:tensorflow:global_step/sec: 165.81
INFO:tensorflow:step = 901, loss = 412.247 (0.603 sec)
INFO:tensorflow:global_step/sec: 151.347
INFO:tensorflow:step = 1001, loss = 65.8399 (0.661 sec)
INFO:tensorflow:global_step/sec: 172.192
INFO:tensorflow:step = 1101, loss = 94.9231 (0.581 sec)
INFO:tensorflow:global_step/sec: 180.832
INFO:tensorflow:step = 1201, loss = 53.9345 (0.553 sec)
INFO:tensorflow:global_step/sec: 158.108
INFO:tensorflow:step = 1301, loss = 63.5067 (0.632 sec)
INFO:tensorflow:global_step/sec: 141.285
INFO:tensorflow:step = 1401, loss = 52.4756 (0.708 sec)
INFO:tensorflow:global_step/sec: 136.153
INFO:tensorflow:step = 1501, loss = 145.97 (0.734 sec)
INFO:tensorflow:global_step/sec: 157.167
INFO:tensorflow:step = 1601, loss = 129.382 (0.636 sec)
INFO:tensorflow:global_step/sec: 173.467
INFO:tensorflow:step = 1701, loss = 35.7273 (0.576 sec)
INFO:tensorflow:global_step/sec: 178.55
INFO:tensorflow:step = 1801, loss = 70.114 (0.560 sec)
INFO:tensorflow:global_step/sec: 160.137
INFO:tensorflow:step = 1901, loss = 90.5714 (0.625 sec)
INFO:tensorflow:global_step/sec: 166.328
INFO:tensorflow:step = 2001, loss = 39.8865 (0.601 sec)
INFO:tensorflow:global_step/sec: 173.172
INFO:tensorflow:step = 2101, loss = 56.8142 (0.577 sec)
INFO:tensorflow:global_step/sec: 179.738
INFO:tensorflow:step = 2201, loss = 91.2017 (0.556 sec)
INFO:tensorflow:global_step/sec: 179.29
INFO:tensorflow:step = 2301, loss = 56.98 (0.558 sec)
INFO:tensorflow:global_step/sec: 178.814
INFO:tensorflow:step = 2401, loss = 61.3291 (0.560 sec)
INFO:tensorflow:global_step/sec: 171.448
INFO:tensorflow:step = 2501, loss = 96.9616 (0.583 sec)
INFO:tensorflow:global_step/sec: 146.863
INFO:tensorflow:step = 2601, loss = 55.3659 (0.681 sec)
INFO:tensorflow:global_step/sec: 170.473
INFO:tensorflow:step = 2701, loss = 34.4783 (0.587 sec)
INFO:tensorflow:global_step/sec: 173.532
INFO:tensorflow:step = 2801, loss = 50.4649 (0.576 sec)
INFO:tensorflow:global_step/sec: 179.194
INFO:tensorflow:step = 2901, loss = 29.3112 (0.558 sec)
INFO:tensorflow:global_step/sec: 150.984
INFO:tensorflow:step = 3001, loss = 133.77 (0.662 sec)
INFO:tensorflow:global_step/sec: 177.284
INFO:tensorflow:step = 3101, loss = 56.2957 (0.564 sec)
INFO:tensorflow:global_step/sec: 162.278
INFO:tensorflow:step = 3201, loss = 40.5622 (0.616 sec)
INFO:tensorflow:global_step/sec: 163.65
INFO:tensorflow:step = 3301, loss = 42.6808 (0.611 sec)
INFO:tensorflow:global_step/sec: 175.919
INFO:tensorflow:step = 3401, loss = 32.9768 (0.568 sec)
INFO:tensorflow:global_step/sec: 176.952
INFO:tensorflow:step = 3501, loss = 53.6048 (0.565 sec)
INFO:tensorflow:global_step/sec: 178.791
INFO:tensorflow:step = 3601, loss = 42.7095 (0.559 sec)
INFO:tensorflow:global_step/sec: 181.386
INFO:tensorflow:step = 3701, loss = 97.6643 (0.551 sec)
INFO:tensorflow:global_step/sec: 177.434
INFO:tensorflow:step = 3801, loss = 218.042 (0.564 sec)
INFO:tensorflow:global_step/sec: 178.932
INFO:tensorflow:step = 3901, loss = 48.5943 (0.559 sec)
INFO:tensorflow:global_step/sec: 159.708
INFO:tensorflow:step = 4001, loss = 47.3688 (0.626 sec)
INFO:tensorflow:global_step/sec: 172.382
INFO:tensorflow:step = 4101, loss = 143.595 (0.580 sec)
INFO:tensorflow:global_step/sec: 152.195
INFO:tensorflow:step = 4201, loss = 41.8616 (0.657 sec)
INFO:tensorflow:global_step/sec: 171.799
INFO:tensorflow:step = 4301, loss = 139.763 (0.582 sec)
INFO:tensorflow:global_step/sec: 152.479
INFO:tensorflow:step = 4401, loss = 107.997 (0.656 sec)
INFO:tensorflow:global_step/sec: 166.478
INFO:tensorflow:step = 4501, loss = 61.8417 (0.601 sec)
INFO:tensorflow:global_step/sec: 169.976
INFO:tensorflow:step = 4601, loss = 51.2281 (0.588 sec)
INFO:tensorflow:global_step/sec: 177.1
INFO:tensorflow:step = 4701, loss = 48.0202 (0.565 sec)
INFO:tensorflow:global_step/sec: 168.807
INFO:tensorflow:step = 4801, loss = 38.054 (0.592 sec)
INFO:tensorflow:global_step/sec: 170.713
INFO:tensorflow:step = 4901, loss = 48.3158 (0.586 sec)
INFO:tensorflow:Saving checkpoints for 5000 into /var/folders/xt/qvsnsqc941q950ghsjhyjh3r0000gn/T/tmpy41zwms1/model.ckpt.
INFO:tensorflow:Loss for final step: 275.17.

### Evaluation

** Create a prediction input function. Remember to only supprt X_test data and keep shuffle=False. **

In [56]:
input_func_pred = tf.estimator.inputs.pandas_input_fn(x=X_test, num_epochs=1, shuffle=False)

** Use model.predict() and pass in your input function. This will produce a generator of predictions, which you can then transform into a list, with list() **

In [57]:
predictions = list(model.predict(input_func_pred))

INFO:tensorflow:Restoring parameters from /var/folders/xt/qvsnsqc941q950ghsjhyjh3r0000gn/T/tmpy41zwms1/model.ckpt-5000

** Each item in your list will look like this: **

In [58]:
predictions[0]

{'class_ids': array([0]),
 'classes': array([b'0'], dtype=object),
 'logistic': array([ 0.21005638], dtype=float32),
 'logits': array([-1.32458568], dtype=float32),
 'probabilities': array([ 0.78994364,  0.21005636], dtype=float32)}

** Create a list of only the class_ids key values from the prediction list of dictionaries, these are the predictions you will use to compare against the real y_test values. **

In [64]:
final_preds = [pred['class_ids'][0] for pred in predictions]

In [65]:
final_preds[0:10]

[0, 0, 0, 0, 1, 0, 0, 0, 0, 0]

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

In [66]:
from sklearn.metrics import classification_report

In [69]:
print(classification_report(y_true=y_test, y_pred=final_preds))

             precision    recall  f1-score   support

          0       0.88      0.91      0.89      7436
          1       0.67      0.60      0.64      2333

avg / total       0.83      0.84      0.83      9769

# Great Job!